node_modules
npm-debug.log
.DS_Store
.cache
.idea
*.iml
.env
data/*
!data/config.json
CONTENT.txt
public/images/*
!public/images/ma_portfolio_logo_footer.svg
!public/images/ma_portfolio_logo_dark.svg
!public/images/ma_portfolio_logo_light.svg
public/js/*.json
