node_modules
npm-debug.log
.DS_Store
.cache
.idea
*.iml
.env
data/*
!data/config.json
CONTENT.txt
public/images/*
public/js/*.json
public/js/fontawesome.min.js
public/js/light.min.js
public/js/app.min.js
public/js/error.min.js