$white:           #FFFFFF
$white-tint:      #F1F1F1
$black:           #000000
$primary-blue:    #1A36BB
$primary-purple:  #5d1abb
$link-blue:       #1479cb
$success:         #26ad35
$error:           #890A0A
$gray:            #4f4f4f
$grey:            $gray