h1
  font-size: 48px
  letter-spacing: 2.4px
  font-weight: 600
  margin: 0
  padding: 0

h2
  font-size: 36px
  font-weight: normal
  letter-spacing: 1.8px
  margin: 0
  padding: 0
  padding-bottom: $base-v-spacing

  &.bold
    font-weight: 600

.col > p
  margin: 0
  padding-bottom: $base-v-spacing/1.5
  font-size: 24px
  font-weight: normal
  letter-spacing: 1.2px
  line-height: 36px

strong
  font-weight: 600