aside.callout-card
  position: relative
  width: 100%
  max-width: 680px
  box-sizing: border-box
  background-color: $white
  border-radius: 12px
  min-height: 100px
  height: 590px
  max-height: 590px
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  padding: $base-v-spacing $base-h-spacing*2 0 $base-h-spacing*2
  display: flex
  flex-flow: column

  h2
    padding-bottom: $base-v-spacing/1.5
    flex: 0 1 auto

  .filter-button-group
    flex-grow: 0
    user-select: none
    padding-bottom: $base-v-spacing/2
    border-bottom: 4px solid $gray
    label
      cursor: pointer
      text-transform: capitalize
      border-radius: $base-v-spacing
      border: 2px solid $black
      display: inline-block
      box-sizing: border-box
      font-size: 18px
      font-weight: 500
      letter-spacing: 0.67px
      text-align: center
      background-color: $white
      padding: $base-v-spacing/3 $base-h-spacing
      &:hover
        background-color: $white-tint

    input[type=radio]
      position: absolute
      visibility: hidden
      &:checked + label
        background-color: $black
        border-color: $black
        color: $white

  .results-container
    overflow: hidden
    flex-grow: 1
    position: relative
    .results-content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      overflow: auto
      p:first-child
        font-size: 18px
        font-weight: 600
        letter-spacing: 1px


@import "callout-card-item"