.copy-popover
  position: relative
  display: inline-block
  cursor: pointer

  button
    background-color: transparent
    border-width: 0
    padding: 0
    color: $white
    &:focus
      outline: $white solid 4px
      outline-offset: 2px

  .fa
    display: inline

  span
    visibility: hidden
    white-space: nowrap
    display: inline-block
    min-width: 140px
    opacity: 0
    width: auto
    background-color: $white
    color: $black
    text-align: center
    border-radius: 6px
    padding: $base-h-spacing/4 $base-v-spacing/2
    position: absolute
    z-index: 1
    top: -2px
    left: 110%
    font-size: 14px
    font-weight: 600
    letter-spacing: 0.88px
    transition: all 250ms cubic-bezier(.43,.36,.44,.93)
    .fal, svg
      &.success
        color: $success
      &.error
        color: $error
    &:after
      content: ""
      position: absolute
      top: 50%
      right: 100%
      margin-top: -6px
      border-width: 5px
      border-style: solid
      border-color: transparent $white transparent transparent

  &.override span
    visibility: visible
    opacity: 1

  &:hover span
    visibility: visible
    opacity: 1

  &.scroll-visible
    span
      animation: toggle-popover-after-scroll 5s
      animation-delay: 500ms
  &.sr-only:not(:focus):not(:active)
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    width: 1px

@keyframes toggle-popover-after-scroll
  0%
    visibility: hidden
    opacity: 0
  1%
    visibility: visible
  6%
    opacity: 1
  94%
    opacity: 1
  99%
    opacity: 0
  100%
    visibility: hidden


@media all and (max-width: $size-tablet-small)
  .copy-popover
    span
      left: 0%
      margin-top: $base-v-spacing*1.5
      box-shadow: 0 0 0 4px $primary-blue
      &:after
        content: " "
        position: absolute
        bottom: 100%
        left: 50%
        margin-top: -24px
        margin-left: -60px
        border-width: 5px
        border-style: solid
        border-color: transparent transparent $white transparent