h1, .h1
  font-size: 3rem
  letter-spacing: 0.15rem
  font-weight: 600
  margin: 0
  padding: 0

h2, .h2
  font-size: 2.25rem
  font-weight: normal
  letter-spacing: 0.1125rem
  margin: 0
  padding: 0
  padding-bottom: $base-v-spacing

  &.bold
    font-weight: 600

h3, .h3
  font-size: 2rem
  font-weight: normal
  letter-spacing: 0.1125rem
  margin: 0
  padding: 0
  padding-bottom: $base-v-spacing

  &.bold
    font-weight: 600

h4, .h4
  font-size: 1.125rem
  letter-spacing: 0.1125rem
  font-weight: 500
  margin: 0
  padding: 0
  padding-bottom: $base-v-spacing

  &.normal
    font-weight: normal

.col > p, .col > div > p
  margin: 0
  padding-bottom: $base-v-spacing/1.5
  font-size: 1.5rem
  font-weight: normal
  letter-spacing: 0.075rem
  line-height: 2.25rem

a
  color: $link-blue
  font-weight: 500
  letter-spacing: 0.0625rem
  cursor: pointer
  transition: all 125ms cubic-bezier(.43,.36,.44,.93)
  &:hover
    color: darken($link-blue, 20%)

strong, b
  font-weight: 600